@import "assets/styles/functions/breakpoint";

@mixin mq($value, $mobile-first: true) {
  $breakpoint: null;
  $from: null;

  @if (isExistBreakpoint($value)) {
    $breakpoint: getBreakpoint($value);
  } @else {
    $breakpoint: $value;
  }

  @if ($mobile-first) {
    $from: min-width;
  } @else {
    $from: max-width;
  }

  @media only screen and ($from: $breakpoint) {
    @content;
  }
}
