@import "assets/styles/functions/breakpoint";

@mixin mq($from, $_desktop-first: false) {
	$_breakpoint: null;
	$_width-prop: 'min-width';

	@if (is-exist-breakpoint($from)) {
		$_breakpoint: get-breakpoint($from);
	} @else {
		$_breakpoint: $from;
	}

	@if $_desktop-first {
		$_width-prop: 'max-width';
		$_breakpoint: $_breakpoint - 1px;
	}

	@media only screen and (#{$_width-prop}: $_breakpoint) {
		@content;
	}
}
