* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	&::before, &::after {
		box-sizing: border-box;
	}
}

a {
	text-decoration: none;
	color: var(--white-color);

	@include font(14);
}

body {
	font-family: var(--primary-font);
	background: var(--primary-color);

	#__nuxt {
		overflow: hidden;
	}
}

.container {
	padding: 0 var(--base-indent);
	max-width: 1520px;
	margin: 0 auto;
}
