* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	&::before, &::after {
		box-sizing: border-box;
	}
}

a {
	text-decoration: none;
	color: var(--white-color);

	@include font(14);
}

body {
	font-family: var(--primary-font);
	background: var(--primary-color);

	#__nuxt {
		overflow: hidden;
	}
}

.container {
	padding: 0 var(--indent-2);
	max-width: 1520px;
	margin: 0 auto;
}

.first-section {
	margin-top: 180px;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	&__content {
		flex-grow: 1;
	}
}

.base-text-control {
	font-family: inherit;
	padding: var(--indent-2);
	color: var(--form-control-placeholder-color);
	border: 1px solid var(--form-control-border-color);
	background-color: var(--primary-light-color);
	outline: none;
	transition: background-color .13s ease-in-out;

	@include font(16, bold);

	@include placeholder() {
		color: var(--form-control-placeholder-color);
	}

	@include autofill(var(--white-color), var(--primary-text-color));

	&:focus, &:active {
		color: var(--primary-text-color);
		background-color: var(--white-color);
	}
}
