* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	&::before, &::after {
		box-sizing: border-box;
	}
}

a {
	text-decoration: none;
	font-size: 14px;
	color: var(--white-color);
}

body {
	font-family: var(--primary-font);
	background: var(--primary-color);

	#__nuxt {
		overflow: hidden;
	}
}

.container {
	padding: 0 20px;
	max-width: 1520px;
	margin: 0 auto;

	@include mq(desktop) {
		padding: 0 15px;
	}
}
