@font-face {
	font-family: 'md-icons';
	src:
		url('assets/fonts/md-icons/md-icons.ttf?1oumov') format('truetype'),
		url('assets/fonts/md-icons/md-icons.woff?1oumov') format('woff'),
		url('assets/fonts/md-icons/md-icons.svg?1oumov#md-icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
