$base-indent: 8px;

:root {
  --primary-font: 'Merriweather', serif;
  --primary-color: #2A314B;
  --primary-light-color: #3F4868;
  --primary-light-color-rgb: 63, 72, 104;
  --secondary-color: #385DF1;
  --primary-text-color: #1A2038;
  --bg-light-color: #ECF0FD;
  --white-color: #FFFFFF;
  --menu-item-color: #B1B9D9;
  --form-control-border-color: #A4B1E3;
  --form-control-placeholder-color: #8B97C3;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-medium-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 900;

  --control-height: 54px;

  @media screen and (min-width: 768px) {
    --control-height: 60px;
  }

  --base-indent: #{$base-indent};

  // generate indents --indent-n based on --base-indent
  @for $i from 2 to 15 {
    --indent-#{$i}: #{$i * $base-indent};
  }
}
