:root {
  --primary-font: 'Merriweather', serif;
  --primary-color: #2A314B;
  --secondary-color: #385DF1;
  --white-color: #FFFFFF;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-medium-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 900;
}
