* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: var(--white-color);
}

body {
  font-family: var(--primary-font);
}

.container {
  padding: 0 10px;
  max-width: 1520px;
  margin: 0 auto;
}

.btn {
  @extend %flex-center;
  height: 65px;
  border: none;
  outline: none;
  background: var(--secandary-color);
  border-radius: 9px;
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 18px;
  font-family: var(--primary-font);
  font-weight: 900;
  padding: 20px 65px;
  cursor: pointer;
}
