@import "mixins/mq";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: var(--white-color);
}

body {
  font-family: var(--primary-font);
  #__nuxt {
    overflow: hidden;
  }
}

.container {
  padding: 0 20px;
  max-width: 1520px;
  margin: 0 auto;

  @include mq(desktop) {
    padding: 0 15px;
  }
}

.btn {
  @extend %flex-center;
  height: 60px;
  border: 1px solid transparent;
  outline: none;
  background: var(--secondary-color);
  border-radius: 9px;
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 18px;
  font-family: var(--primary-font);
  font-weight: 900;
  padding: 20px 65px;
  white-space: nowrap;
  cursor: pointer;
  transition: all .13s ease-in-out;

  &--inverse {
    background-color: rgba(255, 255, 255, .2);
    border: 1px solid var(--white-color);
  }

  &--transparent {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--white-color);

    &:hover {
      background-color: var(--secondary-color);
    }
  }
}
